In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, desc

import datetime as dt

In [3]:
# Create engine using the `demographics.sqlite` database file
engine = create_engine("sqlite:///coviddata.sqlite")

In [4]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [5]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [6]:
# Print all of the classes mapped to the Base
Base.classes.keys()

['location', 'locations']

In [7]:
# Assign the demographics class to a variable called `Demographics`
location_db = Base.classes.location

In [8]:
# Create a session
session = Session(engine)

In [9]:
# Use the session to query Demographics table and display the first 5 locations
for row in session.query(location_db, location_db.state_name).limit(5).all():
    print(row)

(<sqlalchemy.ext.automap.location object at 0x000002152868A608>, 'Washington')
(<sqlalchemy.ext.automap.location object at 0x000002152868A708>, 'Washington')
(<sqlalchemy.ext.automap.location object at 0x000002152868A788>, 'Washington')
(<sqlalchemy.ext.automap.location object at 0x000002152868A808>, 'Washington')
(<sqlalchemy.ext.automap.location object at 0x000002152868A888>, 'Washington')

In [10]:
# BONUS: Query and print the number of unique Locations
# Hints: Look into counting and grouping operations in SQLAlchemy
locations = session.query(location_db).group_by(location_db.state_name).count()
print(locations)

51

In [11]:
#test = session.execute("SELECT * FROM location WHERE city_name=Illinois")
city_test = session.query(location_db.date,location_db.state_name,location_db.cases).\
filter(location_db.state_name == "Illinois")#.\
#order_by(Measurement.date).all()

In [12]:
for row in city_test:
    print(row[0])

2/15/2020
2/16/2020
2/17/2020
2/18/2020
2/19/2020
2/20/2020
2/21/2020
2/22/2020
2/23/2020
2/24/2020
2/25/2020
2/26/2020
2/27/2020
2/28/2020
2/29/2020
3/1/2020
3/2/2020
3/3/2020
3/4/2020
3/5/2020
3/6/2020
3/7/2020
3/8/2020
3/9/2020
3/10/2020
3/11/2020
3/12/2020
3/13/2020
3/14/2020
3/15/2020
3/16/2020
3/17/2020
3/18/2020
3/19/2020
3/20/2020
3/21/2020
3/22/2020
3/23/2020
3/24/2020
3/25/2020
3/26/2020
3/27/2020
3/28/2020
3/29/2020
3/30/2020
3/31/2020
4/1/2020
4/2/2020
4/3/2020
4/4/2020

In [13]:
session_response_date = [date[0] for date in city_test]
session_response_state = [state for state in city_test[1]]
session_response_cases = [case for case in city_test[2]]

In [14]:
session_response_date

['2020-02-15',
 '2020-02-16',
 '2020-02-17',
 '2020-02-18',
 '2020-02-19',
 '2020-02-20',
 '2020-02-21',
 '2020-02-22',
 '2020-02-23',
 '2020-02-24',
 '2020-02-25',
 '2020-02-26',
 '2020-02-27',
 '2020-02-28',
 '2020-02-29',
 '2020-03-01',
 '2020-03-02',
 '2020-03-03',
 '2020-03-04',
 '2020-03-05',
 '2020-03-06',
 '2020-03-07',
 '2020-03-08',
 '2020-03-09',
 '2020-03-10',
 '2020-03-11',
 '2020-03-12',
 '2020-03-13',
 '2020-03-14',
 '2020-03-15',
 '2020-03-16',
 '2020-03-17',
 '2020-03-18',
 '2020-03-19',
 '2020-03-20',
 '2020-03-21',
 '2020-03-22',
 '2020-03-23',
 '2020-03-24',
 '2020-03-25',
 '2020-03-26',
 '2020-03-27',
 '2020-03-28',
 '2020-03-29',
 '2020-03-30',
 '2020-03-31',
 '2020-04-01',
 '2020-04-02',
 '2020-04-03',
 '2020-04-04']

In [15]:
session_response_state

['2020-02-16', 'Illinois', 2]