In [13]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, desc

import datetime as dt

In [3]:
# Create engine using the `demographics.sqlite` database file
engine = create_engine("sqlite:///coviddata.sqlite")

In [4]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [5]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [6]:
# Print all of the classes mapped to the Base
Base.classes.keys()

['location']

In [7]:
# Assign the demographics class to a variable called `Demographics`
Demographics = Base.classes.location

In [8]:
# Create a session
session = Session(engine)

In [9]:
# Use the session to query Demographics table and display the first 5 locations
for row in session.query(Demographics, Demographics.state_name).limit(5).all():
    print(row)

(<sqlalchemy.ext.automap.location object at 0x000002BFDAE8DE80>, 'Washington')
(<sqlalchemy.ext.automap.location object at 0x000002BFDAE8DEF0>, 'Washington')
(<sqlalchemy.ext.automap.location object at 0x000002BFDAE8DF60>, 'Washington')
(<sqlalchemy.ext.automap.location object at 0x000002BFDAE8DFD0>, 'Illinois')
(<sqlalchemy.ext.automap.location object at 0x000002BFDAEA6080>, 'Washington')

In [10]:
# BONUS: Query and print the number of unique Locations
# Hints: Look into counting and grouping operations in SQLAlchemy
locations = session.query(Demographics).group_by(Demographics.state_name).count()
print(locations)

55

In [11]:
#test = session.execute("SELECT * FROM location WHERE city_name=Illinois")
city_test = session.query(Demographics.date,Demographics.state_name,Demographics.cases).\
filter(Demographics.state_name == "Illinois")#.\
#order_by(Measurement.date).all()

In [12]:
for row in city_test:
    print(row)

('2020-01-24', 'Illinois', 1)
('2020-01-25', 'Illinois', 1)
('2020-01-26', 'Illinois', 1)
('2020-01-27', 'Illinois', 1)
('2020-01-28', 'Illinois', 1)
('2020-01-29', 'Illinois', 1)
('2020-01-30', 'Illinois', 2)
('2020-01-31', 'Illinois', 2)
('2020-02-01', 'Illinois', 2)
('2020-02-02', 'Illinois', 2)
('2020-02-03', 'Illinois', 2)
('2020-02-04', 'Illinois', 2)
('2020-02-05', 'Illinois', 2)
('2020-02-06', 'Illinois', 2)
('2020-02-07', 'Illinois', 2)
('2020-02-08', 'Illinois', 2)
('2020-02-09', 'Illinois', 2)
('2020-02-10', 'Illinois', 2)
('2020-02-11', 'Illinois', 2)
('2020-02-12', 'Illinois', 2)
('2020-02-13', 'Illinois', 2)
('2020-02-14', 'Illinois', 2)
('2020-02-15', 'Illinois', 2)
('2020-02-16', 'Illinois', 2)
('2020-02-17', 'Illinois', 2)
('2020-02-18', 'Illinois', 2)
('2020-02-19', 'Illinois', 2)
('2020-02-20', 'Illinois', 2)
('2020-02-21', 'Illinois', 2)
('2020-02-22', 'Illinois', 2)
('2020-02-23', 'Illinois', 2)
('2020-02-24', 'Illinois', 2)
('2020-02-25', 'Illinois', 2)
('2020-02-26', 'Illinois', 2)
('2020-02-27', 'Illinois', 2)
('2020-02-28', 'Illinois', 2)
('2020-02-29', 'Illinois', 3)
('2020-03-01', 'Illinois', 3)
('2020-03-02', 'Illinois', 4)
('2020-03-03', 'Illinois', 4)
('2020-03-04', 'Illinois', 4)
('2020-03-05', 'Illinois', 5)
('2020-03-06', 'Illinois', 6)
('2020-03-07', 'Illinois', 6)
('2020-03-08', 'Illinois', 7)
('2020-03-09', 'Illinois', 11)
('2020-03-10', 'Illinois', 19)
('2020-03-11', 'Illinois', 25)
('2020-03-12', 'Illinois', 32)
('2020-03-13', 'Illinois', 46)
('2020-03-14', 'Illinois', 66)
('2020-03-15', 'Illinois', 94)
('2020-03-16', 'Illinois', 104)
('2020-03-17', 'Illinois', 159)
('2020-03-18', 'Illinois', 286)
('2020-03-19', 'Illinois', 420)
('2020-03-20', 'Illinois', 583)
('2020-03-21', 'Illinois', 751)
('2020-03-22', 'Illinois', 1047)
('2020-03-23', 'Illinois', 1285)
('2020-03-24', 'Illinois', 1535)
('2020-03-25', 'Illinois', 1875)
('2020-03-26', 'Illinois', 2538)
('2020-03-27', 'Illinois', 3029)
('2020-03-28', 'Illinois', 3547)
('2020-03-29', 'Illinois', 4613)
('2020-03-30', 'Illinois', 5070)
('2020-03-31', 'Illinois', 5994)
('2020-04-01', 'Illinois', 6980)
('2020-04-02', 'Illinois', 7695)
('2020-04-03', 'Illinois', 8904)
('2020-04-04', 'Illinois', 10357)